body {
  font-family: arial;
  text-align: center;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#list-element {
  display: flex;
}

.list-numbers {
  margin: 0 5px;
}